body{
    background-color: tan;
}

nav li{
    display:inline-block;
    margin-right: 20px;
    margin-top: 0px;
    justify-content: flex-end;
}

nav ul{
    display:flex;
    justify-content:flex-end;
}

.movies{
    margin-inline: 20px;
}
 


.checkout{
    display: block;
    margin-bottom: 20px;
    width: 70%;
    padding: 10px;
    border: 1px solid gray;
    float: right;
}

.floated{
    margin-top: 10px;
    float: right;
}

textarea{
    cols="10";
    rows="30"
}