/*Variable declarations
----------------------------*/
:root {
    --green: rgb(96, 234, 96);
    --tan: rgb(210, 180, 140);
    --red: rgb(255, 0, 0);
    --black: rgb(0, 0, 0);
    --purple: #c5bbcd;
    --arch: #ccc;
    --darkorange: rgb(255, 140, 0);
    --grey: #f8f8f8;
    --white: #fff;
    --thickred: #f44336;
    --thickgreen: #04AA6D;
}



/* General backgrounds for all pages
---------------------------------------*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



html,
body {
    width: 100%;
}

.logo {
    width: 190px;
    height: 140px;
}

#logo {
    width: 40%;
}

header {
    padding: 10px;
    position: fixed;
    width: 100%;
    background-color: var(--purple);
}

main {
    padding: 240px 10px 10px 10px;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--white);
}

footer {
    margin-top: auto;
}


body {
    background-image: url(../images/backgroundpic.jpg);
    background-color: var(--black);
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;

}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}

h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
body{
    font-size: 18px;
}

/* Nav styling
------------------*/

#sidebar-menu {
    position: absolute;
    top: 180px;
}

.main-nav,
#hamburger-input {
    display: none;
}

#hamburger-input:checked+.main-nav {
    display: block;
}

.main-nav {
    background-color: var(--purple);
    padding: 10px;
}


nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
}

nav a {
    color: var(--black);
    text-decoration: none;
}

nav a:hover {
    color: var(--red);
}


/* Home page styling
--------------------------*/
.banner {
    display: flex;
    width: 100%;
    object-fit: cover;

}


.banner-img {
    flex: 1 1;
    width: 100%;

}



#captxt {
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: left;
    font-size: 20px;
}

#rah{
    margin-top: 20px;
}

.homebtn{
    margin-top: 20px;
}

.homeimg {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    
}

.homeimg-block {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: space-between;
}
.homeimg-block img{
    width: 300px;
    height: 450px;
    border-radius: 20px;
}

#captxt {
    text-align: left;
    text-indent: 10px;
}


/* Movies page styling
---------------------------*/

.movies {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

.movies-block {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    width: 100%;
    justify-content: space-between;
}

.movies img {
    width: 150px;
    height: 300px;
    border-radius: 20px;
}

.movies img:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px 4px #000;
}

.moviecontainer img {
    width: 150px;
    height: 300px;
}
.movies-block {
    display: grid;
    grid-template-columns: auto auto;
}



/*Checkout page
-------------------*/
.container {
    display: flex;
    flex-direction: column;
}

.container p {
    font-size: 20px;
    font-weight: bold;
}

.buy-form {
    margin-top: 15px;
}
.buy-form .fa{
    color: var(--white);
}

.input[type=radio] {
    display: flex;
    flex-direction: column;
}

#wmm{
    margin-top: 20px;
}

.am{
    margin-top: 15px;
}

/*Signup page styling
------------------------*/
.Register-container{
    padding: 25px;
}

.Register-container input[type=password]{
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
}

.Register-container input[type=text], input[type=password] {
    width: 70%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 2px solid var(--arch);
    background: #f1f1f1;
}

/*productdetails pages
---------------*/
.product img{
    margin-top: 20px;
}
#details {
    word-wrap: break-word;
    white-space: pre-line;
}
.product img, .container img{
    width: 300px;
    height: 500px;
}


/*Contact page
-----------------*/

#chat {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: left;
    font-weight: normal;
    margin-bottom: 15px;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 500px;
    gap: 10px;
}

.input {
    display: flex;
    flex-direction: column;
}


.contact-form {
    margin-top: 20px;
}


/*About page styling
-----------------------*/
.About-container img {
    width: 212px;
    height: 188px;
}
.About-container{
    margin-bottom: 10px;
    padding: 50px;
}

.contact-container, .About-container, .Register-container{
    border-radius: 5px;
    background-color: var(--white);
    color: var(--black);
}



/*CTA-button 
---------------*/

.button {
    color: var(--black);
    background-color: var(--darkorange);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    padding: 10px 12px;
    border-radius: 20px;

}

.button:hover {
    background-color: var(--green);
    cursor: pointer;
}
.cancelbtn {
    padding: 14px 20px;
    background-color: var(--thickred);
    color: var(--black);
}
.signupbtn {
    padding: 14px 20px;
    background-color: var(--thickgreen);
    color: var(--black);
}



.regisbtn::after {
    content: "";
    clear: both;
    display: table;
}
  

/*Forms Styling
-------------------*/

textarea {
    width: 250px;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid var(--arch);
    border-radius: 10px;
    background-color: var(--grey);
    font-size: 16px;
    resize: none;

}

input[type=text] {
    width: 250px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid var(--arch);
    box-sizing: border-box;
}

input[type=number] {
    width: 250px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid var(--arch);
    box-sizing: border-box;
}

input[type=password] {
    width: 250px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid var(--arch);
    margin: 6px 0px;
    box-sizing: border-box;
}

input[type=submit] {
    border: none;
    background-color: var(--darkorange);
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
}

/*Loader styling
---------------------*/
.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 90vw;
    height: 90vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--arch);
    transition: opacity 0.95s, visibility 0.95s;
}
.loader-hidden{
    opacity: 0;
    visibility: hidden;
}
.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid var(--purple);
    border-top-color: var(--red);
    border-radius: 50%;
    animation: loading 0.95s ease infinite;
}

@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }
}

/*Footer styling
--------------------*/

footer {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
footer .fa{
    color: var(--white);
}

.fa {
    font-size: 30px;
    color: var(--black);
    padding: 5px 10px;
}

.irrelevant {
    visibility: hidden;
}

@media(min-width:900px) {
    .logo {
        width: 397px;
        height: 198px;
    }

    header {
        display: flex;
        background-color: var(--purple);
    }

    #logo {
        width: 20%;
    }

    #sidebar-menu {
        position: relative;
        width: 80%;
        top: 0;
    }

    ul li {
        width: 100px;
    }

    .main-nav {
        display: flex;
        height: 100%;
        justify-content: flex-end;
        gap: 2em;
        align-items: center;
        width: 100%;
        background-color: transparent;
        list-style: none;
    }

    #hamburger-menu {
        display: none;
    }

    .homeimg img {
        width: 300px;
        height: 450px;
    }

    .movies img {
        width: 250px;
        height: 450px;
    }

    .moviecontainer img {
        width: 250px;
        height: 450px;
    }
    .movies-block {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }
    
   



    .product {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: 1fr 1fr;
    }
    #details {
        word-wrap: break-word;
        white-space: pre-line;
    }

    .container {
        display: grid;
        grid-template-columns: 250px 750px;  
    }

    .product img, .container img{
        width: 500px;
        height: 700px;
    }

    .contact-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-columns: 1fr 1fr;
    }

    .About-container{
        display: grid;
        grid-template-columns: auto auto;
    }

    .About-container img {
        width: 350px;
        height: 250px;
    }



    .buy-form {
        float: right;
        width: 30%;
    }

    .buy {
        float: right;
        width: 30%;
        margin-bottom: 30px;
    }


}