/* General backgrounds for all pages
---------------------------------------*/

body{
    background-color: tan;
}

#logo img{
    width: 350px;
    height: 250px;
}

/* Nav styling
------------------*/

nav li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;

}

nav{
    display:flex;
    justify-content:flex-end;
    
}

nav a{
    color:black;
    text-decoration: none;
}
nav a:hover{
    color: red;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: black;
    z-index: -1;
}

#hamburger-input{
    display: none;
}

#hamburger-menu{
    position: fixed;
    top: 20px;
    left: 20px;
    width: 50px;
    height: 50px;
    display: none;
    border: none;
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        to bottom,
        #3D0E61, #3D0E61 20%,
        white 20%, white 40%,
        #3D0E61 40%, #3D0E61 60%,
        white 60%, white 80%,
        #3D0E61 80%, #3D0E61 100%
    );
}

#hamburger-menu #sidebar-menu{
    visibility: hidden;
    position: fixed;
    top: 0;
    left: -250px;
    width: 200px;
    height: 100px;
    background-color: #3D0E61;
    transition: 0.3s;
    padding: 0px 10px;
    box-sizing: border-box;
}

#hamburger-menu h3{
    color: #B9FAF8;
    font-size: 2.2rem;
}

#hamburger-menu ul{
    padding-left: 0px;
}

#hamburger-menu li{
    list-style-type: none;
    line-height: 3rem;
}

#hamburger-menu a:hover{
    text-decoration: underline;
}

#hamburger-input:checked + #hamburger-menu #sidebar-menu{
    visibility: visible;
    left: 0;
}

#hamburger-input:checked ~ .overlay{
    visibility: visible;
    opacity: 0.4;
}



/* Home page styling
--------------------------*/
.banner{
    display: flex;
    width: 100%;
    object-fit: cover;
    
}
    

.banner-img{
    flex: 1 1;
    width: 100%;
    
}



#captxt{
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: left;
    font-size: 20px;
}

.hmimg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inline{
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
    justify-content: space-evenly;
}
#captxt{
    text-align: left;
    text-indent: 10px;
}


/* Movies page styling
---------------------------*/

.movies{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.moviesinline{
    display: flex;
    flex-flow: row wrap;
    gap: 40px;
    justify-content: space-evenly;
}


/*Checkout page
-------------------*/





/*Signup page styling
------------------------*/

.Register{
    justify-content: center;
}

/*view pages
---------------*/


/*Contact page
-----------------*/

#chat{
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    justify-content: left;
}
    
    



/*CTA-button 
---------------*/

.CTA button{
    border: none;
    background-color: darkorange;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
}

.CTA button:hover{
    background-color: rgb(96, 234, 96);
    cursor: pointer;
}


.floated{
    margin-top: 10px;
    float: right;
    margin-right: 40px;
}


/*Forms Styling
-------------------*/

textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
    
  }

  input[type=text] {
    width: 310px;
    padding: 10px 10px;
    margin: 6px 0;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-sizing: border-box;
  }

  input[type=password]{
    width: 310px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin: 6px 0px;
    box-sizing: border-box;
  }

  input[type=submit]{
    border: none;
    background-color: darkorange;
    font-size: 15px;
    font-weight: bold;
    padding: 12px 15px;
    border-radius: 20px;
  }

/*Footer styling
--------------------*/

  footer{
    text-align: center;
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .fa{
    font-size: 30px;
    color:black;
    padding: 5px 10px;
}


@media screen and (max-width: 768px) {
    #main-nav {
        display: none;
    }
    #hamburger-menu{
        display: inline;
    }
}

